
.body{
  background-color: black;
  color: azure;
  margin-top: 25px;
}
.search{
    display: flex;
  color: white;
  margin-top: -30px;
  margin-left: 246px;
  border: 2px solid white;
  border-color: white;
  padding: 15px;
  margin-right: 470px;
  border-image-width: 200px;
  }
  .mark{    
  margin-top: -50px;
  margin-left: 980px;
  border: 12px solid #777070;
  margin-bottom: 58px;
  }
  .mic{
  margin-top: -120px;
  margin-left: 1070px;
  margin-bottom: 70px;
  height: 59px;
  }
  
  .s{
  margin-top: -250px;
  margin-left: 1280px;
  margin-bottom: 118px;
  height: 49px;
  }
  .s1{
  margin-top: -217px;
  margin-left: 1350px;
  margin-bottom: 140px;
  height: 49px;
  }
  .s2{
  margin-top: -190px;
  margin-left: 1400px;
  margin-bottom: 167px;
  height: 49px;
  }
  .s3{
    margin-top: -350px;
    margin-left: 1448px;
    margin-bottom: 185px;
    height: 49px;
  
  
  }
  .att{
    display: flex ;
        flex-direction: row;
        justify-content: spacc-around;
        width: 1286px;
        margin-left: 240px;
        margin-top: -136px;
  }
  .sub{
    display: flex;
        flex-direction: row;
        border: 2px solid #313131;
        border-radius: 69px;
        width: 15px;
        height: 100%;
        justify-content: center;
        margin-left: 25px;
        margin-bottom: 20px;
        border: 1px solid;
        height: 27px;
        width: 98px;
  }
  .hr2{
  height: 0.1px;
  color: black;
  background-color: #747474;
  }