.A{
    display: flex;
  flex-direction: column;
  justify-content: start;
  height: 40px;
  margin-top: 10px;
  margin-left: 40px;
   
  }
  .a{
    height: 20px;
  }
  #logo{
    margin-left: 20px;
  }
  .home{
    margin-left:60px;
    margin-top: -30px;
    margin-bottom: 40px;
    font-size: 20px;
  }
  .homearound{ 
    
    height: 40px;
    width: 150px;
    
    background-color: #747474;
  }
  .dash{  
    margin-top: -35px;
  }
