 /* body{
  background-color: black;
  color: azure;
  margin-top: 5px;
}
 .A{
  display: flex;
flex-direction: column;
justify-content: start;
height: 40px;
margin-top: 10px;
margin-left: 40px;
 
}
.a{
  height: 20px;
}
#logo{
  margin-left: 20px;
}
.home{
  margin-left:60px;
  margin-top: -30px;
  margin-bottom: 40px;
  font-size: 20px;
}
.homearound{ 
  
  height: 40px;
  width: 150px;
  
  background-color: #747474;
}
.dash{  
  margin-top: -35px;
}
.search{
  display: flex;
color: white;
margin-top: -30px;
margin-left: 246px;
border: 2px solid white;
border-color: white;
padding: 15px;
margin-right: 470px;
border-image-width: 200px;
}
.mark{
  
margin-top: -54px;
margin-left: 1000px;
border: 15px solid #777070;
margin-bottom: 28px;
}
.mic{
margin-top: -90px;
margin-left: 1070px;
margin-bottom: 65px;
height: 59px;
}

.s{
margin-top: -250px;
margin-left: 1280px;
margin-bottom: 118px;
height: 49px;
}
.s1{
margin-top: -217px;
margin-left: 1350px;
margin-bottom: 140px;
height: 49px;
}
.s2{
margin-top: -300px;
margin-left: 1400px;
margin-bottom: 167px;
height: 49px;
}
.s3{
margin-top: -400px;
margin-left: 1470px;
margin-bottom: 189px;
height: 49px;


}
.att{
display: flex;
flex-direction: row;
justify-content: spacc-around;
width: 1286px;
margin-left: 240px;
margin-top: 3%;
}
.sub{
display: flex;
flex-direction: row;
border: 2px solid #313131;
border-radius: 69px;
width: 15px;
height: 100%;
justify-content: center;
margin-left: 25px;
margin-top: -230px;
 border: 1px solid; height: 27px; width: 98px

}
.hr2{
height: 0.1px;
color: black;
background-color: #747474;
}
.frame{
display: flex;
flex-direction: row;
justify-content:space-around;
margin-left: 120px;
margin-top: -42vh;
 padding: 15vh;
 margin-right: -120px;
 
}
.des{
  margin-top: -40PX;
  margin-left: 37PX;
  margin-bottom: 20px;

}
.the{
  image-resolution: 90px;
  font-size: 15px;
  opacity: 50%;
  border-image-slice: 8fr;
  margin-top: -19px;
  margin-left: 20px;
}
.frame1{
display: flex;
flex-direction: row;
justify-content:space-around;
margin-left: 12px;
margin-top: -40vh;
margin-left:90px ;
padding: 25vh;
margin-right: -180px;
}
.line1{
  width: 20px;
}
.frame2{
display: flex;
flex-direction: row;
justify-content:space-around;
margin-left: 12px;
margin-top: -50vh;
margin-left:120px ;
padding: 25vh;
margin-right: -180px;

} 


.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.video-card {
  width: 230px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 8px;
}

.description {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}

.channel {
  font-size: 12px;
  color: #606060;
}

.views {
  font-size: 12px;
  color: #606060;
} */
